html{
	font-size: 62.5% !important;
}
ul,h1,h2,h3,h4,h5,h6{
	margin: 0;
}
.container{
	width: 90%;
	margin: auto;
}
*,body{
	font-size: 1.6rem !important;
	font-family: helvetica;
	margin: 0;
}
.clear{
	clear: both;
}

/*index.html styles*/
header{
	width: 100%
	margin-bottom:1rem;
	padding: 1rem;
}
header #logo{
	width: 33.3%;
	float: left;
	box-sizing: border-box;
}
header nav{
	width: 66.6%;
	float: right;
	box-sizing: border-box;
}
header nav ul{
	list-style: none;
}
header nav ul li{
	float: right;
	margin-right: 2rem;
}
header nav ul li a{
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.8rem !important;
	color:#010508;
}
header nav ul li a:hover{
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.8rem !important;
	color:#010508;
	border-bottom: 0.1rem solid #000;
}
header #logo h1{
	font-size: 2.8rem !important;
	color: #fff;
}
#showcase{
	padding: 1rem;
	height: 96.6vh;
	background-image: url(../images/bg2.jpg);
	position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#showcase #info{
	padding:2rem;
	margin-top: 3rem;
	background-color: #ddd;
	width: 30%;
	opacity: 0.45;
}
#showcase #info h2{
	font-size: 1.8rem !important;
	padding: 0.3rem;
}
#showcase #info p{
	font-size: 1.6rem !important;
	line-height: 2rem;
	font-weight: 400;
}
#showcase #info ul{
	list-style: none;
	margin-top: 2rem;
}
#showcase #info ul li{
	display: inline;
	padding: 1rem;
}
#showcase #info ul li a{
	/*color: #000 !important;*/
	text-decoration: none;
	padding: 0.5rem;

}
#showcase #info ul li a i{
	font-size: 2.4rem !important;
}
/*About Styles*/
#about{
	height: 96.6vh;
	padding: 1rem;
	background-image: url(../images/fancytouchbg.jpg);
	position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
}